@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Inter:wght@400&family=Kanit:wght@500&family=Libre+Bodoni&family=Roboto:wght@200&family=Signika+Negative:wght@300;400&display=swap');

*{
    box-sizing: border-box;
}

/* body{
    width: 100%;
    background-color: aqua;
} */

.container{
    width: 1263px; 
    height: fit-content;
    background: linear-gradient(180deg, #B4201C 0%, #FFEFB7 100%, #B4201C 0%);
    background-attachment: fixed;
    margin: 0 auto;
    overflow: hidden;
}

/* Header */

.headerFake{
    width: 100%;
    height: 80px;
    background: rgb(181, 31, 43);
}

header{
    width: 1263px;
    height: 80px;
    background: rgba(181, 31, 43, 0.5);
    display: flex;
    position: fixed;
    z-index: 3;
}

header .logo{
    width: 50%;
    height: 100%;
}

header .logo img{
    width: 180px;
    margin-top: 20px;
    margin-left: 91px;
    /* background-color: aqua; */

}

header .thanhDieuHuong{
    width: 50%;
    height: 100%;
    /* background-color: aqua; */
}

header .thanhDieuHuong ul{
    display: flex;
    justify-content: center;
}

header .thanhDieuHuong ul li a{
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: #FFFFFF;
    margin: 0 10px;
    font-weight: 900;
    font-size: 16px;
    line-height: 80px;
}

header .thanhDieuHuong ul li a:hover{
    color: #EFD888;
}

/* banner */

.banner{
    width: 100%;
    height: fit-content;
    position: relative;
}

.banner a{
    font-family: 'Signika Negative', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #B82D26;
    text-decoration: none;
    background-color: #EFD888;
    padding: 13.5px 47px;
    border-radius: 50px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 283px;
    left: 174px;
}

.banner a:hover{
    color: #523C3E;
    background-image: linear-gradient(#E13F4E, rgba(229, 92, 104, 0.4));
}

.banner img{
    width: 100%;
}

/* article */

    /* Ưu đãi */

article .khungUuDai{
    display: flex;
    justify-content: center;
}

article .khungUuDai .uuDai{
    width: 340px;
    height: 389px;
    border: 5px solid #F1E29D;
    border-radius: 20px;
    background: linear-gradient(180deg, #B4201C 0%, #FFEFB7 100%);
    margin: 123px 10px;
    padding-top: 26px;
    position: relative;
}

article .khungUuDai .uuDai .ngay{
    position: absolute;
    top: -45px;
    left: 54px;
}

article .khungUuDai .uuDai .line1{
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    color: #FFFFFF;
    text-shadow: 2px 8px 4px rgba(0, 0, 0, 0.3);
    margin: 0 95px;
}

article .khungUuDai .uuDai .line2{
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    color: #FFFFFF;
    text-shadow: 2px 8px 4px rgba(0, 0, 0, 0.3);
    margin: 0 70px;
}

article .khungUuDai .uuDai a{
    position: absolute;
    bottom: -35px;
    left: 10px;
    font-family: 'Signika Negative', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    color: #B82D26;
    background-color: #EFD888;
    text-decoration: none;
    padding: 13.5px 30px;
    border-radius: 50px;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.25);
    margin: 0 48px;
}

article .khungUuDai .uuDai a:hover{
    color: #523C3E;
    background-image: linear-gradient(#E13F4E, rgba(229, 92, 104, 0.4));
}

    /* Giới thiệu */

article .gioiThieu{
    position: relative;
}

article .gioiThieu .nenGioiThieu{
    width: 100%;
    height: 822px;
    background: url(../images/nen2.jfif);
    filter: blur(7.5px);
    background-repeat: no-repeat;
    background-size: cover ;
    position: relative;
}

article .gioiThieu .hinhGioiThieu1{
    position: absolute;
    top: 105px;
    left: 106px;
    width: 300px;
    border-radius: 300px;
    transition: 0.5s;
}

article .gioiThieu .hinhGioiThieu1:hover{
    border-radius: 50px;
    width: 350px;
    left: 81px;
    top: 80px;
    transform: rotate(-10deg);
}

article .gioiThieu .hinhGioiThieu2{
    position: absolute;
    top: 390px;
    left: 865px;
    width: 300px;
    border-radius: 300px;
    transition: 0.5s;
}

article .gioiThieu .hinhGioiThieu2:hover{
    border-radius: 50px;
    width: 350px;
    top: 365px;
    left: 840px;
    transform: rotate(10deg);
}

article .gioiThieu .line1{
    position: absolute;
    width: 575px;
    height: 62px;
    left: 91px;
    top: 415px;
    font-family: 'Libre Bodoni', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #000000;
}

article .gioiThieu .line2{
    position: absolute;
    width: 712px;
    height: 62px;
    left: 89px;
    top: 477px;
    font-family: 'Signika Negative', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #B31A28;
}

article .gioiThieu .line3{
    position: absolute;
    width: 663px;
    height: 110px;
    left: 89px;
    top: 539px;
    font-family: 'Signika Negative', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
}

article .gioiThieu .line4{
    position: absolute;
    width: 575px;
    height: 62px;
    left: 618px;
    top: 130px;

    font-family: 'Libre Bodoni', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;

    color: #000000;
}

article .gioiThieu .line5{
    position: absolute;
    width: 712px;
    height: 62px;
    left: 636px;
    top: 192px;

    font-family: 'Signika Negative', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;

    color: #B31A28;
}

article .gioiThieu .line6{
    position: absolute;
    width: 670px;
    height: 170px;
    left: 520px;
    top: 254px;

    font-family: 'Signika Negative', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: right;

    color: #000000;
}

    /* Công nghệ thẩm thấu */

article .congNgheThamThau{
    width: 100%;
    height: 729px;
    background: #6C1018;
    position: relative;
}

article .congNgheThamThau .line1{
    position: absolute;
    width: 880px;
    height: 84px;
    left: 180px;
    top: 69px;

    font-family: 'Libre Bodoni', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 52px;
    text-align: center;

    color: #EFD888;
}

article .congNgheThamThau .line2{
    position: absolute;
    width: 740px;
    height: 36px;
    left: 250px;
    top: 134px;

    font-family: 'Signika Negative', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;
    text-align: center;

    color: #FFFFFF;
}

article .congNgheThamThau .baCaiHinh{
    display: flex;
    justify-content: center;
}

article .congNgheThamThau .baCaiHinh img{
    width: 350px;
    margin: 0 -15px;
    margin-top: 200px;
    transition: 0.5s;
}

article .congNgheThamThau .baCaiHinh img:hover{
    margin-top: 150px;
    width: 450px;
    z-index: 2;
}

article .congNgheThamThau h1{

    font-family: 'Signika Negative', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 59px;


    color: #FFFFFF; 
}

article .congNgheThamThau .line3{
    position: absolute;
    width: 332px;
    height: 161.43px;
    left: 100px;
    top: 595px;

    font-family: 'Signika Negative', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    text-align: right;

    color: #EFD888;
}

article .congNgheThamThau .line4{
    position: absolute;
    width: 300px;
    height: 161.43px;
    left: 470px;
    top: 595px;

    font-family: 'Signika Negative', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    text-align: center;

    color: #EFD888;
}

article .congNgheThamThau .line5{
    position: absolute;
    width: 320px;
    height: 161.43px;
    left: 810px;
    top: 595px;

    font-family: 'Signika Negative', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    text-align: left;

    color: #EFD888;
}

    /* Sản Phẩm */

article .sanPham{
    width: 100%;
    height: 692px;
    background: rgba(181, 30, 43, 0.9);
    /* padding: auto 0; */
    /* position: relative; */
    display: flex;
    padding-top: 100px;
}

article .sanPham .sanPham1{
    position: relative;
    display: inline-block;
}

article .sanPham .sanPham1 img{
    /* transition: 0.5s; */
    width: 100%;
}

 article .sanPham .sanPham1 .nutThu1{
    position: absolute;
    /* bottom: 70px; */
    bottom: 56px;
    left: 730px;
    font-family: 'Signika Negative', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #F0D88A;
    text-decoration: none;
    background: #AC1719;
    padding: 16.5px 58px;
    border-radius: 50px;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.25);
    margin: 0 48px;
 }

 article .sanPham .sanPham1 .nutThu2{
    position: absolute;
    /* bottom: 70px; */
    bottom: 56px;
    left: 711px;
    font-family: 'Signika Negative', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #B82D26;
    background-color: #EFD888;
    text-decoration: none;
    padding: 16.5px 60px;
    border-radius: 50px;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.25);
    margin: 0 48px;
 }

 article .sanPham .sanPham1 .nutThu1:hover{
    color: #523C3E;
    background-image: linear-gradient(#E13F4E, rgba(216, 124, 67, 0.6));
}
 article .sanPham .sanPham1 .nutThu2:hover{
    color: #523C3E;
    background-image: linear-gradient(#E13F4E, rgba(229, 92, 104, 0.4));
}

article .sanPham .slides{
    font-size: 0;
    /* display: inline-block; */
    width: 200%;
    /* background-color: pink; */
    transition: all 0.6s ease;
}

article .sanPham .slideGroup{
    width: 100%;
    height: 491px;
    /* background-color: aqua; */
    font-size: 0;
    overflow: hidden;
    position: relative;
}

article .sanPham .slideGroup .left{
    position: absolute;
    top: 40%;
    left: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    font-family: 'Signika Negative', sans-serif;
    font-weight: 900;
    border: none;
    background-color: wheat;
}
article .sanPham .slideGroup .right{
    position: absolute;
    top: 40%;
    right: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    font-family: 'Signika Negative', sans-serif;
    font-weight: 900;
    border: none;
    background-color: wheat;
}

    /* Mua sản phẩm */

article .muaSanPham{
    width: 100%;
    height: 775px;
    background: rgba(255, 255, 255, 0.01);
    /* background-color: aqua; */
    position: relative;
    display: flex;
}

article .muaSanPham .sanPham{
    width: 428px;
    height: 379.65px;
    background: #EFD888;
    position: relative;
    margin: auto;
}

article .muaSanPham .sanPham .bongMo{
    position: absolute;
    width: 316.84px;
    height: 76px;
    left: 55px;
    top: -50px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: blur(15px);
    border-radius: 60px;
    z-index: 1;
}

article .muaSanPham .sanPham .soThu1{
    position: absolute;
    left: 74px;
    top: 64px;
    width: 79.2px;
    height: 44.88px;

    font-family: 'Signika Negative', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;

    color: #601717;

    text-decoration: line-through;
}

article .muaSanPham .sanPham .soThu2{
    position: absolute;
    left: 183px;
    top: 44px;
    width: 147.84px;
    height: 84.26px;

    font-family: 'Signika Negative', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 79px;
    text-align: center;

    color: #B31A28;
}

article .muaSanPham .sanPham .soThu3{
    position: absolute;
    right: 0px;
    top: 122px;
    width: 116.16px;
    height: 44.99px;
    
    font-family: 'Signika Negative', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    
    color: #EFD888;

    background: linear-gradient(180deg, #B41D2A 69.79%, #FFEFB7 100%);
    box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.25);
}

article .muaSanPham .sanPham .hinh1{
    position: absolute;
    width: 207px;
    height: 230.47px;
    left: 18px;
    bottom: 0;
}

article .muaSanPham .sanPham .hinh3{
    position: absolute;
    width: 127.54px;
    height: 146.61px;
    right: 25px;
    bottom: 0px;
}

article .muaSanPham .sanPham .dauCong{
    position: absolute;
    width: 37.35px;
    height: 44.26px;
    left: 246px;
    bottom: 60px;

    font-family: fantasy;
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 67px;

    color: #B4201C;

}

article .muaSanPham .sanPham .rect{
    position: absolute;
    width: 462px;
    height: 91.8px;
    left: -17px;
    bottom: -91.8px;

    background: linear-gradient(180deg, #B4201C 71.87%, #FFEFB7 100%);
    border: 5px solid #F1E29D;
    border-radius: 20px;
}

article .muaSanPham .sanPham .rect .line2{
    position: absolute;
    width: 237.6px;
    height: 38.45px;
    right: 0;
    top: 13.39px;

    font-family: 'Signika Negative', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;

    color: #FFFFFF;
}
article .muaSanPham .sanPham .rect .line3{
    position: absolute;
    width: 234.96px;
    height: 38.45px;
    right: 0;
    top: 49px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #FFFFFF;
}

article .muaSanPham .sanPham .rect a{
    font-family: 'Signika Negative', sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 24px;
    color: #B82D26;
    text-decoration: none;
    background-color: #EFD888;
    padding: 13.5px 36px;
    border-radius: 50px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 14px;
    left: 16px;
}

article .muaSanPham .sanPham .rect a:hover{
    color: #523C3E;
    background-image: linear-gradient(#E13F4E, rgba(229, 92, 104, 0.4));
}

article .muaSanPham .line1{
    /* position: absolute;
    left: 197px;
    top: 125px; */

    width: 500px;
    height: 98.5px;

    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 2px 0 #E44548, -2px 0 #E44548, 0 2px #E44548, 0 -2px #E44548,
             1px 1px #E44548, -1px -1px #E44548, 1px -1px #E44548, -1px 1px #E44548;


    /* border: 4px solid #E44548; */
}

    /* Voucher */

article .voucher{
    width: 100%;
    height: 660px;
    background: rgba(239, 216, 136, 0.9);
    position: relative;
}

article .voucher .line1{
    position: absolute;
    width: 457px;
    height: 88px;
    left: 327px;
    top: 20px;
    
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    
    color: #B31A28;
    
    text-shadow: 2px 8px 4px rgba(0, 0, 0, 0.3);
    z-index: 2;
}

article .voucher .rect1{
    position: absolute;
    width: 202px;
    height: 83px;
    left: 637px;
    top: 24px;

    background: rgba(255, 255, 255, 0.9);
    filter: blur(50px);
    border-radius: 100px;
    z-index: 1;
}

article .voucher .line2{
    position: absolute;
    width: 597px;
    height: 89px;
    left: 455px;
    top: 30px;

    font-family: 'Dancing Script', cursive;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    text-align: center;

    color: #B31A28;
    /* text-shadow: 1px 0 #FFFFFF, -1px 0 #FFFFFF, 0 1px #FFFFFF, 0 -1px #FFFFFF,
             0.5px 0.5px #FFFFFF, -0.5px -0.5px #FFFFFF, 0.5px -0.5px #FFFFFF, -0.5px 0.5px #FFFFFF; */
    /* border: 0.5px solid #FFFFFF; */
    z-index: 2;
}

article .voucher .chuaBaRect{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

article .voucher .chuaBaRect .rect{
    background: linear-gradient(180deg, #B4201C 0%, #FFEFB7 100%);
    border: 3px solid #EFD888;
    border-radius: 30px;
    margin: 0 40px;
    margin-top: 128px;
    position: relative;
}

article .voucher .chuaBaRect .rect .line3{
    position: absolute;
    width: 277.12px;
    height: 62.51px;
    left: 10%;
    top: 4%;

    font-family: 'Signika Negative', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-align: center;

    color: #FFFFFF;
}

article .voucher .chuaBaRect .rect .bongMo1{
    position: absolute;
    width: 234.42px;
    height: 192.39px;
    left: 61px;
    top: 131px;

    background: rgba(255, 255, 255, 0.9);
    filter: blur(50px);
    border-radius: 100px;
    z-index: 1;
}

article .voucher .chuaBaRect .rect .pic1{
    position: absolute;
    left: 70px;
    top: 91px;
    z-index: 2;
}

article .voucher .chuaBaRect .rect .pic2{
    position: absolute;
    left: 150px;
    top: 98px;
    z-index: 2;
}
article .voucher .chuaBaRect .rect a{
    position: absolute;
    bottom: 34px;
    left: 56px;
    width: 242.79px;
    height: 61.7px;
    font-family: 'Signika Negative';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #EFD487;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
    background: #7A0F0F;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    padding: 14px 15px;
    z-index: 2;
}

article .voucher .chuaBaRect .rect a:hover{
    color: #523C3E;
    background-image: linear-gradient(#E13F4E, rgba(216, 124, 67, 0.6));
}

article .voucher .chuaBaRect .rect .pic3{
    position: absolute;
    top: 60px;
    left: 16px;
    width: 258.65px;
    /* height: 180.15px; */
    z-index: 2;
    transition: 0.5s;
}

article .voucher .chuaBaRect .rect .pic3:hover{
    transform: rotate(10deg);
}

article .voucher .chuaBaRect .rect .bongMo2{
    position: absolute;
    width: 214.68px;
    height: 233.29px;
    left: 40px;
    top: 33px;

    background: rgba(255, 255, 255, 0.9);
    filter: blur(50px);
    border-radius: 100px;
    z-index: 1;
}

article .voucher .chuaBaRect .rect .bongMo3{
    position: absolute;
    width: 93.93px;
    height: 76.86px;
    left: 30.66px;
    top: 92.54px;

    background: rgba(255, 255, 255, 0.9);
    filter: blur(35px);
    border-radius: 100px;
}

article .voucher .chuaBaRect .rect .pic4{
    position: absolute;
    top: 50px;
    left: 10px;
    width: 220px;
    transition: 0.5s;
}

article .voucher .chuaBaRect .rect .pic4:hover{
    width: 240px;
    top: 40px;
    left: 0;
}

    /* Sản Phẩm Nổi Bật */

article .sanPhamNoiBat{
    width: 100%;
    height: 770px;  
    background: rgba(181, 30, 43, 0.9);
    position: relative;
}

article .sanPhamNoiBat .bongMo{
    position: absolute;
    width: 1095px;
    height: 613px;
    left: 75px;
    top: 85px;

    background: rgba(215, 166, 166, 0.83);
    filter: blur(50px);
    border-radius: 100px;
    z-index: 1;
}

article .sanPhamNoiBat .line1{
    position: absolute;
    width: 805px;
    height: 88px;
    left: 225px;
    top: 30px;
    
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 77px;
    text-align: center;
    
    color: #F0D98A;
    
    text-shadow: 2px 8px 4px rgba(0, 0, 0, 0.3);
    z-index: 2;
}

article .sanPhamNoiBat .pic1{
    position: absolute;
    top: 145px;
    left: 90px;
    width: 650px;
    z-index: 2;
}

article .sanPhamNoiBat .line2{
    position: absolute;
    width: 695px;
    height: 66px;
    left: 210px;
    bottom: 166px;
    
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 72px;
    
    background: linear-gradient(180deg, #FFFFFF 27.6%, #EFD888 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* text-fill-color: transparent; */
    
    /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    z-index: 2;
}

article .sanPhamNoiBat .slideGroupTo{
    position: absolute;
    top: 145px;
    right: 153px;
    width: 320px;
    height: 500px;
    /* background-color: aqua; */
    z-index: 2;
}

article .sanPhamNoiBat .slideGroupTo .slideGroup2{
    width: 100%;
    height: 100%;
    overflow: hidden; 
    position: relative;
}

article .sanPhamNoiBat .slideGroupTo .top{
    position: absolute;
    top: 30%;
    right: -75px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    font-family: 'Signika Negative', sans-serif;
    font-weight: 900;
    border: none;
    background-color: wheat;
}

article .sanPhamNoiBat .slideGroupTo .bottom{
    position: absolute;
    bottom: 30%;
    right: -75px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    font-family: 'Signika Negative', sans-serif;
    font-weight: 900;
    border: none;
    background-color: wheat;
}

article .sanPhamNoiBat .slideGroupTo .slideGroup2 .slides2{
    transition: all 0.6s ease;
}

article .sanPhamNoiBat .slideGroupTo .slideGroup2 .slides2 .slide2 img{
    width: 100%;
    transition: 0.5s;
}

article .sanPhamNoiBat .slideGroupTo .slideGroup2 .slides2 .slide2 img:hover{
    transform: scale(1.1, 1.1);
}

    /* Hướng dẫn */

article .huongDan{
    position: relative;
    width: 100%;
    height: 717px;
    background: #EFD888;
}

article .huongDan .bongMo{
    position: absolute;
    width: 178px;
    height: 77px;
    left: 279px;
    top: 46px;

    background: rgba(255, 255, 255, 0.9);
    filter: blur(50px);
    border-radius: 100px;
}

article .huongDan .line1{
    position: absolute;
    width: 598.22px;
    height: 89px;
    left: 96px;
    top: 57px;

    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    
    color: #B31A28;
    /* text-shadow: 1px 0 #FFFFFF, -1px 0 #FFFFFF, 0 1px #FFFFFF, 0 -1px #FFFFFF,
    0.5px 0.5px #FFFFFF, -0.5px -0.5px #FFFFFF, 0.5px -0.5px #FFFFFF, -0.5px 0.5px #FFFFFF; */
}

article .huongDan .line2{
    position: absolute;
    width: 914.86px;
    height: 77px;
    left: 300px;
    top: 49px;

    font-family: 'Kanit';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;
    text-align: center;

    color: #B31A28;

    text-shadow: 2px 8px 4px rgba(0, 0, 0, 0.3);
}

article .huongDan .pic1{
    width: 80%;
    position: absolute;
    top: 177px;
    left: 140px;
}

/* footer */

footer{
    width: 100%;
    height: 514px;
    background: rgba(181, 30, 43, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
}

    /* information */

footer .information{
    width: 50%;
    height: 100%;
    position: relative;
    padding-top: 72px;
}

footer .information .line1{
    /* position: absolute; */
    width: 417px;
    height: 56px;
    /* left: 194px;
    top: 72px; */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: rgba(255, 255, 255, 0.82);
    /* margin-top: 72px; */
    margin-left: 94px;
}

footer .information .line2{
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;

    color: rgba(255, 255, 255, 0.82);
    margin-left: 140px;
    width: 300px;
    /* background-color: #523C3E; */
    margin-top: 25px;
}

    /* Register */

footer .register{
    width: 50%;
    height: 100%;
    /* background-color: turquoise; */
}

footer .register form{
    width: 520px;
    height: 325px;
    border: 1px solid #fff;
    margin-top: 70px;
    margin-left: 50px;
}

footer .register label{
    margin-left: 210px;
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 37px;
    text-align: center;

    color: rgba(255, 255, 255, 0.82);

}

footer .register input{
    font-family: 'Kanit';
    width: 95%;
    height: 57px;
    margin: 9px 0;
    margin-left: 2.5%;
    padding-left: 10px;
    font-size: 18px;
    outline: none;
    border: 1px solid #fff;
    background-color: transparent;
    color: wheat;
}

footer .register input::placeholder{
    color: white;
}

footer .register button{
    width: 20%;
    height: 57px;
    font-size: 24px;
    font-family: 'Signika Negative', sans-serif;
    margin-left: calc(80% / 2);
    border: none;
    border-radius: 50px;
    transition: 0.3s;
}

footer .register button:hover{
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}